$white: #fff;
$primary-color: #673ab7;
$loading-color: #e1e9ee;

$hot7: #f36412;
$hot6: #f38912;
$hot5: #f3af12;
$hot4: #f3d412;
$hot3: #f6de4a;
$hot2: #f9e882;
$hot1: #fcf2ba;
$cold1: #e7f2fa;
$cold2: #c7e1f3;
$cold3: #a7d0ec;
$cold4: #87bfe4;
$cold5: #67aedd;
$cold6: #479dd6;
$cold7: #2980b9;