@layer components {
  .temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    &.hot {
      background-color: color-mix(in oklch, var(--warm-start) calc((6 - var(--index)) / 6 * 100%), var(--warm-end) calc(var(--index) / 6 * 100%));
      /* background-color: color-mix(in oklch, var(--warm-start) calc((7 - var(--index)) / 7 * 100%), var(--warm-end) calc(var(--index) / 7 * 100%)); */
    }

    &.normal {
      background-color: #fff;
      background-color: color-mix(in oklch, var(--warm-end), var(--cold-start));
      background-color: color-mix(in oklch, var(--warm-end) 0%, var(--cold-start) 0%);
      /* background-color: color-mix(in oklch, var(--warm-end) 0%, var(--cold-start) 90%); */
    }

    &.cold {
      background-color: color-mix(in oklch, var(--cold-start) calc((6 - var(--index)) / 6 * 100%), var(--cold-end) calc(var(--index) / 6 * 100%));
      /* background-color: color-mix(in oklch, var(--cold-start) calc((7 - var(--index)) / 7 * 100%), var(--cold-end) calc(var(--index) / 7 * 100%)); */
    }

    &.active {
      flex: 0;
    }
  }

  .current {
    text-align: center;
    padding-block: 1.6rem;
    font-weight: bold;

    .location {
      font-size: 1.5rem;
      font-weight: normal;
    }

    .weather-icon {
      font-size: 3rem;
      margin-bottom: 0.4rem;
    }

    .forecast {
      font-size: 4rem;

      &:after {
        content: '\00b0';
        position: absolute;
      }
    }
  }

  .loader {
    position: fixed;
    inset:0;
    background: hsla(90, 7%, 94%, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    div {
      --delay: calc(0.3s * var(--index));
      opacity: 0;
      height: 1rem;
      width: 1rem;
      background-color: #f36412;
      border-radius: 50%;
      animation: loading 2s ease-in-out infinite;
      animation-delay: var(--delay);
    }
  }

  @keyframes loading {
    0% {
      opacity: 0;
      transform: scale(.5);
    }

    33% {
      opacity: 1;
      transform: scale(1);
    }

    66% {
      opacity: 1;
      transform: scale(1);
    }

    100% {
      opacity: 0;
      transform: scale(.5);
    }
  }
}