@layer reset {
  /* Use a more-intuitive box-sizing model */
  *, *::before, *::after {
    box-sizing: border-box;
  }

  /* Remove default margin */
  * {
    margin: 0;

    /* Experimental line-height */
    /* line-height: calc(2px + 2ex + 2px); */
  }

  html {
    /* 1rem = 10px */
    font-size: 62.5%;

    /* Enable keyword animations */
    @media (prefers-reduced-motion: no-preference) {
      /* Enable smooth scrolling */
      scroll-behavior: smooth;
      /* Enable keyword animations */
      interpolate-size: allow-keywords;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      /* Enable smooth scrolling */
      scroll-behavior: smooth;
      /* Enable keyword animations */
      interpolate-size: allow-keywords;
    }
  }

  body {
    /* Add accessible line-height */
    line-height: 1.5;
    /* Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  /* Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }

  /* Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* Improve line wrapping */
  p {
    text-wrap: pretty;
    hyphens: auto;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
}